.containerMid {
    width: 60%;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
}

.inputDiv {
    margin: 0.5rem;
}

.inputField {
    width: 100%;
    height: 100%;
    border: 2px solid var(--LightNote);
    border-radius: 6px;
    padding: 0.75rem;
    min-width: 180px;
}

.inputField:focus {
    outline: none !important;
    border: 2px solid var(--bgColor);
}

.filterBar {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.buttonDiv>div {
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: var(--bgColor);
    border: 0px solid var(--bgColor);
    border-radius: 6px;
    padding: 10px 20px;
    color: aliceblue;
    font-weight: 800;
}

.btn:focus {
    outline: none !important;
    border: 0px solid var(--bgColor);
}


.btn:hover {
    cursor: pointer;
}

.err {
    color: red;
    display: flex;
    justify-content: center;
}

.pieChart {
    padding: 20px 250px;
}