.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.modes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.button {
    border: 1px solid var(--DarkGray);
    background-color: white;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--TransparentOrange);
}

.active {
    background-color: var(--AccentColor);
}

.button p {
    margin: 0;
}

.temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--DarkGray);
    border-radius: 25px;
}

.temp div {
    padding: 10px 30px;
}

.temp div:hover {
    background-color: var(--TransparentOrange);
}

.temp p {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.topOption {
    border-bottom: 2px solid var(--DarkGray);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.bottomOption {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.current {
    margin: auto 0;
    font-size: 30px;
    text-decoration: underline;
}

.schedules {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.schedules button {
    width: 200px;
}

.schedulesList {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 16px;
    margin-top: 10px;
}

.cardSchedule {
    border: 1px solid var(--DarkGray);
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
    background: transparent;
    border-radius: 16px;
    overflow: hidden;
}

.table {
    width: 95%;
    margin: 2% auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.table thead {
    background-color: #e0ebf2;
    font-size: 14px;
    text-align: left;
}

.table th {
    padding: 8px 10px;
}

.table td {
    padding: 14px 10px;
}

.table tbody {
    background-color: white;
    font-size: 14px;
}

.cen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.cen p {
    font-size: 20px;
}