.cardOuterContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 50px;
}

.card {
    width: 270px;
    min-height: 430px;
    background: white;
    padding: .9em;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
}

.cardImage {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 200px;
    border-radius: 6px 6px 0 0;
}

.cardImage:hover {
    transform: scale(0.98);
}

.title {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    margin-bottom: 0;
}

.title:hover {
    cursor: pointer;
}

.subTitle {
    font-weight: 600;
    color: rgb(88, 87, 87);
}

.subTitle:hover {
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(59, 104, 158);
    color: white;
    cursor: pointer;
    margin-top: auto;
}

.btn p {
    margin: 0;
}

.btn:hover {
    color: azure;
}

.sharebtn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 250ms;
}

.sharebtn:hover {
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
}

.accessBubles {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    align-items: center;
}

.bubble {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid var(--BorderOutOfFocus, #E9E9E9);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: pointer;
}

.bubble:hover {
    filter: blur(100%);
}

.bubble img {
    width: 55%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 50%;
    transition: 250ms ease;
    background-color: var(--DarkGray);
}

.bubble:hover .overlay {
    opacity: 1;
}

.removeIcon {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Tooltip */

.tooltip {
    position: relative;
    z-index: 3;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(63, 121, 230);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 2px;
    font-size: 10px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    width: 150px;
    top: 100%;
    left: 50%;
    margin-left: -75px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.label {
    margin: 0.5em 0;
    color: rgb(59, 104, 158);
    padding: 0.5em;
    border-radius: 6px;
    border: rgb(59, 104, 158) solid 2px;
    text-align: center;
    cursor: default;
}
