.container {
    margin-top: 3rem;
}

.batteries {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto;
}

.battery {
    width: 75px;
    height: 150px;
    border: solid 2px var(--Primary);
    border-radius: 8px;
}