.inputField {
    border: 2px solid var(--LightNote);
    border-radius: 6px;
    padding: 0.75rem;
    min-width: 180px;
}

.inputField:focus {
    outline: none !important;
    border: 2px solid var(--bgColor);
}

.btn {
    background-color: var(--bgColor);
    border: 0px solid var(--bgColor);
    border-radius: 6px;
    padding: 10px 20px;
    color: aliceblue;
    font-weight: 800;
}

.btn:focus {
    outline: none !important;
    border: 0px solid var(--bgColor);
}


.btn:hover {
    cursor: pointer;
}

.fullness {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.err {
    color: red;
    display: flex;
    justify-content: center;
}