.options {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}

.chooseType {
    display: flex;
    align-items: center;
    justify-content: right;
}

.customRange {
    margin-top: 20px;
}

.customRange label {
    margin-left: 20px;
}


.options select,
.options input {
    border-radius: 12px;
    border: 2px solid var(--Gray);
    font-size: 16px;
    padding: 8px 12px;
    margin-left: 10px;
}

.chart {
    transition: all 500ms;
}