.container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image {
    width: 100px;
    height: 100px;
}

.container img {
    width: 100%;
}

.backbutton {
    border: none;
    background: transparent;
    padding: 10px;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 20px;
}