.container {
    display: flex;
    flex-direction: column;
}

.devicesSection {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}

.btn {
    background-color: var(--bgColor);
    border: 0px solid var(--bgColor);
    border-radius: 6px;
    padding: 10px 20px;
    color: aliceblue;
    font-weight: 800;
    text-decoration: none;
}

.btn:focus {
    outline: none !important;
    border: 0px solid var(--bgColor);
}


.btn:hover {
    cursor: pointer;
}