.containerMid {
    width: 60%;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
}

.marginTop {
    margin-top: 100px;
}

.inputDiv {
    margin: 0.5rem;
}

.inputField {
    height: 100%;
    border: 2px solid var(--LightNote);
    border-radius: 6px;
    padding: 0.75rem;
    min-width: 180px;
}

.inputField:focus {
    outline: none !important;
    border: 2px solid var(--bgColor);
}

.filterBar {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.buttonDiv>div {
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: var(--bgColor);
    border: 0px solid var(--bgColor);
    border-radius: 6px;
    padding: 10px 20px;
    color: aliceblue;
    font-weight: 800;
}

.btn:focus {
    outline: none !important;
    border: 0px solid var(--bgColor);
}


.btn:hover {
    cursor: pointer;
}

.err {
    color: red;
    display: flex;
    justify-content: center;
}

.options {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chooseType {
    display: flex;
    align-items: center;
    justify-content: right;
}

.customRange {
    margin-top: 20px;
}

.customRange label {
    margin-left: 20px;
}


.options select,
.options input {
    border-radius: 12px;
    border: 2px solid var(--Gray);
    font-size: 16px;
    padding: 8px 12px;
    margin-left: 10px;
}

.chart {
    transition: all 500ms;
}