/* GLOBAL */
* {
  box-sizing: border-box;
}

:root {
  --bgColor: rgb(0, 142, 239);
  --DarkGray: #333;
  --Note: rgba(51, 51, 51, .3);
  --LightNote: #EDEDF1;
  --AccentColor: #FEBE30;
  --Gradient: linear-gradient(95deg, #F4C80F -3.04%, #F96441 110.91%);
  --GradientBlue: linear-gradient(to right, #81E5BA 0%, #0C58E6 100%);
  --Primary: #17181A;
  --TransparentPrimary: rgba(23, 24, 26, .6);
  --Gray: #EAEBF3;
  --Blue: #007AFF;
  --TransparentOrange: #FFF9F8;
  --Success: #68CC45;
  --Red: rgb(255, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--LightNote);
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  margin: 0;
  overflow-x: hidden;
  color: var(--DarkGray);
}

.actionBtn {
  cursor: pointer;
  background-color: var(--bgColor);
}

.err {
  color: red;
}

.success {
  color: white;
}

/* Header */
@media (max-width:1069px) {

  /* TABLET size*/
}

@media (max-width:768px) {

  /* PHONE size*/
}