.container {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

.apartmentSection {
    display: flex;
    flex-wrap: wrap;
}

.charts {
    display: grid;
    gap: 50px;
}

.g2 {
    grid-template-columns: repeat(2, 1fr);
}

.devicesSection {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}

.availability {
    width: 60%;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 3em;
    margin-top: -2em;
}
