/* Additional setting specific to this project */

.uploadContainer {
    margin: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image upload */

.uploadContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.uploadContainer p {
    text-align: left;
}

.image {
    border-radius: 6px;
}

.separate {
    margin-bottom: 20px;
}

.compact {
    margin: 0 auto;
}

.unpad {
    margin-bottom: 4px;
}

.pad {
    margin-top: 20px;
}

.hide {
    display: none;
}

.note {
    font-size: 1rem;
    color: var(--Note);
    margin-top: 0;
}

.smallNote {
    font-size: 0.875rem;
    color: var(--Note);
}

.fileUploadBasic {
    color: var(--Note);
    display: block;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--Note);
    border-radius: 6px;
    cursor: pointer;
}

.posterUploadBasic {
    color: var(--Note);
    display: block;
    width: 135px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--Note);
    border-radius: 6px;
    cursor: pointer;
}