.cardOuterContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    padding: 10px 20px;
    transition: filter 200ms, background-color 200ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max(30vw, 300px);
    border-radius: 12px;
    cursor: pointer;
    position: relative;
}

.on {
    background-color: rgba(0, 0, 0, .20);
    filter: grayscale(0%);
}

.off {
    background-color: rgba(0, 0, 0, .50);
    filter: grayscale(80%);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin: 0;
    max-width: 6.5rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.subTitle {
    font-size: 14px;
    color: rgba(255, 255, 255, .4);
    margin: 0;
}

.btn {
    margin-left: auto;
}

.sharebtn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 2;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 250ms;
    font-size: 20px;
    font-weight: bolder;
}

.sharebtn p {
    margin: 0;
    padding: 0;
}

.sharebtn:hover {
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
}

.accessBubles {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    align-items: center;
}

.bubble {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 1px;
    border: 1px solid var(--BorderOutOfFocus, #E9E9E9);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: pointer;
}

.bubble img {
    width: 55%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 50%;
    transition: 250ms ease;
    background-color: var(--DarkGray);
}

.bubble:hover .overlay {
    opacity: 1;
}

.removeIcon {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Tooltip */

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(59, 104, 158);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 2px;
    font-size: 10px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    width: 150px;
    top: 100%;
    left: 50%;
    margin-left: -75px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}