.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.button {
    padding: 0.5em;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}
