.navbarStyle {
    font-size: 18px;
    margin: auto 0;
    background-color: hsla(0, 0%, 100%, .8);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px 10%;
    z-index: 11;
}

.navUl {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.1rem 1rem;
    margin-left: auto;
}

.navUl>.icon {
    margin-top: 8px;
    margin-left: 20px;
}

.navUl>li {
    padding: 0 1rem;
}

.navItem {
    text-decoration: none;
    color: #000;
}

.signOut {
    font-weight: 500;
    text-decoration: none;
    background-color: #000;
    border-radius: 0.3rem;
    color: #fff;
    padding: 0 0.75rem;
    border: 1px solid #000;
}