.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    z-index: 12;
}

.modal__content {
    background-color: #fff;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.modal__content .info__wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
}

.modal__content .info__list {
    margin: 10px 0;
    width: auto;
}

.modal__content .info__list-radio-button {
    width: auto;
}

.modal__content .in_text {
    width: 250px;
}

.modal__content .btn_wrap .btn:last-child {
    margin-right: 0;
}

.modal__close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
}

.btn-modal {
    border: none;
    cursor: pointer;
}

.modal__icon {
    display: block;
    height: 2px;
    width: 15px;
    background-color: #000;
    transform: rotate(45deg);
}

.modal__icon::after {
    content: "";
    display: block;
    height: 2px;
    width: 15px;
    background-color: #000;
    transform: rotate(90deg);
}

.accordion {
    width: 100%;
    overflow: hidden;
    margin-top: 2px;
    background-color: #ececec;
}

.accordion__intro {
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
}

.accordion__content {
    padding: 0 20px 20px;
    opacity: 1;
    background: #fff;
    border: 1px solid #f1f1f1;
}

.show_accordion {
    display: block;
}

.hide_accordion {
    display: none;
}

.accordion__title {
    color: #444;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    line-height: 1;
}

.info__form {
    list-style: none;
    position: relative;
    padding-left: 0;
    margin-bottom: 50px;
}

.info__wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-right: 0;
    padding-left: 0;
}

.in_text {
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    height: 34px;
    padding: 0 15px;
}

.info__list-wrapper {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
}

.info__list-wrapper .info__list-title {
    padding-left: 0;
}

.btn {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px, rgba(0, 0, 0, 0.2) 0px 0px 1px 0px;
    cursor: pointer;
    padding: 12px 18px;
    border-radius: 4px;
    background-color: var(--DarkGray);
    color: var(--LightNote);
}

.btn_sub {
    background-color: var(--LightNote);
    color: var(--DarkGray);
    margin-right: 20px;
}

.info__label {
    display: block;
    margin-bottom: 3px;
    color: #444;
}

.extra {
    font-size: 12px;
    color: var(--Note);
}

/* Actions - specific to this file */
.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.expend {
    width: 100%;
    display: flex;
    align-items: center;
}

.input {
    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid var(--BorderOutOfFocus, #E9E9E9);
    width: 80%;
    margin: auto;
}

.button {
    border: 1px solid var(--DarkGray);
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--TransparentOrange);
}

.active {
    background-color: var(--AccentColor);
}

.button p {
    margin: 0;
}

.temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--DarkGray);
    border-radius: 25px;
}

.temp div {
    padding: 10px 30px;
}

.temp div:hover {
    background-color: var(--TransparentOrange);
}

.temp p {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.topOption {
    border-bottom: 2px solid var(--DarkGray);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.bottomOption {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.current {
    margin: auto 0;
    font-size: 30px;
    text-decoration: underline;
}