.profileButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 24px;
    border: 1px solid var(--BorderOutOfFocus, #E9E9E9);
    background: var(--White, #FFF);
    margin-left: 10px;
    cursor: pointer;
}

.profileImage {
    border-radius: 50%;
    margin-right: 2px;
}