.container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}

.inputDiv {
    margin: 1.5rem;
}

.inputField {
    width: 100%;
    height: 100%;
    border: 2px solid var(--LightNote);
    border-radius: 6px;
    padding: 0.75rem;
}

.inputField:focus {
    outline: none !important;
    border: 2px solid var(--bgColor);
}

.buttonDiv {
    margin-top: auto;
    justify-self: bottom;
}

.buttonDiv>div {
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: var(--bgColor);
    border: 0px solid var(--bgColor);
    border-radius: 6px;
    padding: 10px 20px;
    color: aliceblue;
    font-weight: 800;
}

.btn:focus {
    outline: none !important;
    border: 0px solid var(--bgColor);
}


.btn:hover {
    cursor: pointer;
}

.titleDiv {
    text-align: center;
}

/**/
.uploadContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.fileUploadBasic {
    color: var(--Note);
    display: block;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--Note);
    border-radius: 6px;
    cursor: pointer;
}

.hide {
    display: none;
}

.smallNote {
    font-size: 0.875rem;
    color: var(--Note);
}

.err {
    color: var(--Red);
}

.err a {
    color: var(--Red);
}

.deviceImg {
    border-radius: 6px;
}

.endText {
    text-align: center;
}

.cen {
    display: flex;
    align-items: center;
    justify-content: center;
}