.stepper {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.info {
    margin-right: 30px;
}

.dotContainer {
    display: flex;
    flex-direction: row;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: auto 11px;
}

.previousDot {
    background-color: #007AFF;
}

.currentDot {
    background-color: #007AFF;
    box-shadow: 0px 0px 10px rgba(0, 122, 255, .9);
    /* filter: drop-shadow(0px 0px 10px rgba(0, 122, 255, .9)); */
}

.nextDot {
    background-color: #DDD;
}
