.precessingVerification,
.verifiedContainer {
    margin: 4.5rem auto;
    width: 90%;
}

.precessingVerification {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.verifiedContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.precessingVerification p {
    font-size: 20px;
}

.verified {
    color: var(--Success);
    border: 2px solid var(--Success);
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.notVerified {
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

/* Spinner */

.spinner {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}

.spinner>div {
    background-color: rgba(0, 77, 255, 0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #004dff;
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}

/* Bubble */

.memojiText {
    border-radius: 8px 8px 8px 0px;
    background: var(--Blue);
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.memojiText p {
    margin: 0;
}

@media (max-width: 1360px) {

    .precessingVerification,
    .verifiedContainer {
        width: 90%;
        margin: 7.75rem auto 0;
    }
}

@media (max-width: 768px) {

    .precessingVerification,
    .verifiedContainer {
        width: 95%;
    }

    .verifiedContainer {
        justify-content: center;
    }

    .result {
        flex-direction: column;
        align-items: baseline;
        margin: auto;
    }

    .verified,
    .notVerified {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width:480px) {
    .memojiText {
        padding: 8px 16px;
        font-size: 16px;
        line-height: 18px;
    }
}